@mixin titleText {
  color: #303f60;
  font-weight: 500;
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.bodyWrap {
  padding: 0 167px 67px 190px;
  position: absolute;
  width: 100%;
  top: 131px;

  .cover {
    display: flex;
    justify-content: space-between;

    &_text {
      &_welcome {
        color: #fff;
        font-size: 60px;
        margin: 20px 0 0;
      }
      .getStarted {
        margin-top: 40px;
      }
    }

    &_image {
      display: inherit;
      img {
        height: 395px;
        box-shadow: 0px 30px 36px #557da526;
        border-radius: 20px;
      }
    }
  }

  .whyUs {
    margin-top: 80px;

    &_text {
      @include titleText;
    }

    &_cards {
      display: flex;
      justify-content: space-between;
      > :nth-child(2) {
        margin: 0 30px;
      }
    }
  }

  .companiesTrust {
    margin-top: 80px;

    &_text {
      @include titleText;
    }

    &_brand {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}
